%h5
  Valor total pago:
  = number_to_currency valor_total_pago

%table{class: 'table table-striped table-bordered'}
  %tr
    %th #
    %th Parcela
    %th Saldo Devedor

  - tabela.each_with_index do |parcela, index|
    %tr
      %td= index + 1
      %td= number_to_currency parcela[:valor_parcela]
      %td= number_to_currency parcela[:saldo_devedor].abs